*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container
{
    background-color: rgba(84, 80, 75, 0.94);
    width: 90vw;
    padding:30px;
    border-radius: 20px;
    margin: 10px 5px;
}

/* customise input box*/
.input-box input
{
    width: 80%;
    padding: 8px;
    outline: none;
    height: 20%;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 15px;
    background-color: transparent;
    margin: 15px 0;
}

/*customise button*/
#btnAdd {
    width: 80%;
    height: 40px;
    padding: 10px;
    border: none;
    background-color: #fff;
    color: black;
    cursor: pointer;
}

span{
    color: #ffffff;
    font-size: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial sans-serif;
}

.address{
    background-color: #161616;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 20px 5px;
}.address:hover{
    background-color: #343333;
 }